---
layout: default
title: Photos
permalink: /photos/
images:
  - image_path: /assets/photos/DSF0259.jpg
    thumb_path: /assets/photos/DSF0259_tn.jpg
    title: French Greens
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF0756.jpg
    thumb_path: /assets/photos/DSF0756_tn.jpg
    title: Vondelpark, Amsterdam, Netherlands
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF4397.jpg
    thumb_path: /assets/photos/DSF4397_tn.jpg
    title: The Blue City &mdash; Chefchaouen, Morocco
    width: 3264
    height: 4896
  - image_path: /assets/photos/DSF1655.jpg
    thumb_path: /assets/photos/DSF1655_tn.jpg
    title: Parc Guell, Barcelona, Spain
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF2298.jpg
    thumb_path: /assets/photos/DSF2298_tn.jpg
    title: Sunsets in Alicante, Spain
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF2778.jpg
    thumb_path: /assets/photos/DSF2778_tn.jpg
    title: Sunset in Granada, Spain
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF1419.jpg
    thumb_path: /assets/photos/DSF1419_tn.jpg
    title: Sunset in Budapest, Hungary
    width: 3261
    height: 4891
  - image_path: /assets/photos/DSF8197.jpg
    thumb_path: /assets/photos/DSF8197_tn.jpg
    title: Buildings of Berlin, Germany
    width: 4699
    height: 3133
  - image_path: /assets/photos/DSF8472.jpg
    thumb_path: /assets/photos/DSF8472_tn.jpg
    title: Ripples &mdash; Lake Bohinj, Slovenia
    width: 4270
    height: 2847
  - image_path: /assets/photos/DSF8487.jpg
    thumb_path: /assets/photos/DSF8487_tn.jpg
    title: Reflections, Somewhere in Slovenia
    width: 3264
    height: 4896
  - image_path: /assets/photos/DSF8517.jpg
    thumb_path: /assets/photos/DSF8517_tn.jpg
    title: Forest walks in Slovenia
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF2366.jpg
    thumb_path: /assets/photos/DSF2366_tn.jpg
    title: At the top of Jackson Hole, Wyoming
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF2880.jpg
    thumb_path: /assets/photos/DSF2880_tn.jpg
    title: Torres del Paine National Parke, Patagonia, Chile
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF2890.jpg
    thumb_path: /assets/photos/DSF2890_tn.jpg
    title: Las Torres, Patagonia, Chile
    width: 4642
    height: 3095
  - image_path: /assets/photos/DSF2972.jpg
    thumb_path: /assets/photos/DSF2972_tn.jpg
    title: Early morning snow peaks
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF3086.jpg
    thumb_path: /assets/photos/DSF3086_tn.jpg
    title: Glacier Grey, Patagonia, Chile
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF0613.jpg
    thumb_path: /assets/photos/DSF0613_tn.jpg
    title: Peyto Lake in Banff National Park, Alberta, Canada
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF0788.jpg
    thumb_path: /assets/photos/DSF0788_tn.jpg
    title: Forest in Lake Louise
    width: 4716
    height: 3144
  - image_path: /assets/photos/DSF1051.jpg
    thumb_path: /assets/photos/DSF1051_tn.jpg
    title: Sunset in Banff National Park, Alberta Canada
    width: 3264
    height: 4896
  - image_path: /assets/photos/DSF3696.jpg
    thumb_path: /assets/photos/DSF3696_tn.jpg
    title: Las Torres in the night
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF3870.jpg
    thumb_path: /assets/photos/DSF3870_tn.jpg
    title: Sunset Puerto Natales, Chile
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF4540.jpg
    thumb_path: /assets/photos/DSF4540_tn.jpg
    title: Chicago, IL
    width: 3264
    height: 4896
  - image_path: /assets/photos/DSF6751.jpg
    thumb_path: /assets/photos/DSF6751_tn.jpg
    title: Sunset in Koh Rhong Samloem, Cambodia
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF0502.jpg
    thumb_path: /assets/photos/DSF0502_tn.jpg
    title: Sunset in Paris
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF0978.jpg
    thumb_path: /assets/photos/DSF0978_tn.jpg
    title: Smart Shops of Amsterdam
    width: 2612
    height: 3264
  - image_path: /assets/photos/DSF1076.jpg
    thumb_path: /assets/photos/DSF1076_tn.jpg
    title: Books in the National Library of Latvia in Riga
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF1077.jpg
    thumb_path: /assets/photos/DSF1077_tn.jpg
    title: National Library of Latvia in Riga
    width: 3242
    height: 4896
  - image_path: /assets/photos/DSF1901.jpg
    thumb_path: /assets/photos/DSF1901_tn.jpg
    title: Streets of Granada, Spain
    width: 4857
    height: 3238
  - image_path: /assets/photos/DSF2063.jpg
    thumb_path: /assets/photos/DSF2063_tn.jpg
    title: Streets of Valencia, Spain
    width: 3070
    height: 4605
  - image_path: /assets/photos/DSF2095.jpg
    thumb_path: /assets/photos/DSF2095_tn.jpg
    title: Valencia Grunge
    width: 4692
    height: 3128
  - image_path: /assets/photos/DSF2372.jpg
    thumb_path: /assets/photos/DSF2372_tn.jpg
    title: Flower fields in Granada, Spain
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF2598.jpg
    thumb_path: /assets/photos/DSF2598_tn.jpg
    title: Looking out over the Sierra Nevada mountains in Granada, Spain
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF3631.jpg
    thumb_path: /assets/photos/DSF3631_tn.jpg
    title: Petrona Towers in Kuala Lumpur, Malaysia
    width: 4792
    height: 3195
  - image_path: /assets/photos/DSF4117.jpg
    thumb_path: /assets/photos/DSF4117_tn.jpg
    title: Windmills in the South of Spain
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF4369.jpg
    thumb_path: /assets/photos/DSF4369_tn.jpg
    title: Streets of Tanger, Morocco
    width: 3264
    height: 4896
  - image_path: /assets/photos/DSF4451.jpg
    thumb_path: /assets/photos/DSF4451_tn.jpg
    title: Sunset over Chefchaouen, Morocco
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF4983.jpg
    thumb_path: /assets/photos/DSF4983_tn.jpg
    title: Caravan through the Sahara Desert
    width: 4689
    height: 3126
  - image_path: /assets/photos/DSF5006.jpg
    thumb_path: /assets/photos/DSF5006_tn.jpg
    title: Gangapurna Glacier in the Annapurna Region, Nepal
    width: 3264
    height: 4896
  - image_path: /assets/photos/DSF5231.jpg
    thumb_path: /assets/photos/DSF5231_tn.jpg
    title: Mountains in Annapurna Region, Nepal
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF5269.jpg
    thumb_path: /assets/photos/DSF5269_tn.jpg
    title: You Are Beautiful &mdash; Landslide Area
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF5381.jpg
    thumb_path: /assets/photos/DSF5381_tn.jpg
    title: Tilicho Tal Lake, Nepal
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF5413.jpg
    thumb_path: /assets/photos/DSF5413_tn.jpg
    title: Sunset over Mt. Manaslu, Nepal
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF5464.jpg
    thumb_path: /assets/photos/DSF5464_tn.jpg
    title: Nepalese Valley
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF5481.jpg
    thumb_path: /assets/photos/DSF5481_tn.jpg
    title: Letdar Village, Nepal
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF6132.jpg
    thumb_path: /assets/photos/DSF6132_tn.jpg
    title: Street Vendor in Hanoi, Vietnam
    width: 4896
    height: 3264
  - image_path: /assets/photos/DSF8408.jpg
    thumb_path: /assets/photos/DSF8408_tn.jpg
    title: Castle in Lake Bled, Slovenia
    width: 3257
    height: 4886
  - image_path: /assets/photos/DSF9060.jpg
    thumb_path: /assets/photos/DSF9060_tn.jpg
    title: Hungarian Parliament Building at night
    width: 4870
    height: 3247
  - image_path: /assets/photos/DSF9516.jpg
    thumb_path: /assets/photos/DSF9516_tn.jpg
    title: Sunset over Berlin
    width: 4896
    height: 3264
---

<section class="frame--gallery">
    <div class="container">
      <h1>{{ page.title }}</h1>
	    <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
	        {% for image in page.images %}
	        {% include single-img.html %}
	        {% endfor %}
	    </div>
        <p class="text-center"><small>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative
            Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</small></p>
    </div>
</section>
