---
layout: default
title: Photos
permalink: /photos/
---


<section class="frame">
    <div class="container">
        <h1>Photos</h1>
        <!--<ul claphotoslery-stats">-->
            <!--<li>-->
                <!--<span class="number">29</span>-->
                <!--<span class="title">countries visited</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="number">13,403</span>-->
                <!--<span class="title">photos taken</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="number">74</span>-->
                <!--<span class="title">flights taken</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="number">71</span>-->
                <!--<span class="title">beds slept in</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span class="number">51,523</span>-->
                <!--<span class="title">miles covered</span>-->
            <!--</li>-->
        <!--</ul>-->
        <p>I love to travel and take photos. Below are some of my favorite shots from around the world.</p>
        <div class="gallery">
            {% for image in site.static_files %}
            {% if image.path contains '/assets/photos' %}
            {% include single-img.html %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--<div class="container">-->
        <!--<h2>Follow me on <a href="http://instagram.com/vladshap/" class="instagram-text">Instagram</a></h2>-->

        <!--<div class="instafeed" id="instafeed"></div>-->
        <!--&lt;!&ndash;<button id="load-more" class="btn btn&#45;&#45;centered animated">Load More</button>&ndash;&gt;-->
    <!--</div>-->
</section>