html {
    background-color: $base-bg-color;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection { background: rgba($color-green, .75); color: $color-white; }

body {
    color: $base-text-color;
    font-family: $base-body-font;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;

	position: relative;


	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		//content: '';
		box-shadow: inset 0 0 0 3px $color-gray, inset 0 0 15px 0 $color-green;
		z-index: 20;
		pointer-events: none;
	}

    //To prevent the iPhone and iPad from inflating fonts
    @include respond-to($large, max) {
        -webkit-text-size-adjust: 100%;
    }

    &::after {
	    @include respond-to($medium) {
		    animation: loader 2s ease-in-out infinite;
		    height: 2px;
		    width: 100%;
		    background: $color-green;
		    box-shadow: 0 0 5px 0 $color-green;
		    top: 0;
		    position: fixed;
		    content: '';
		    z-index: 100;
		    opacity: 0;
	    }
    }

    &.loading {
        &::after {
            opacity: 1;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: .2s $cubic-bezier opacity;

    .imgs-loaded & {
        opacity: 1;
    }
}

svg {
	transition: .15s $cubic-bezier fill;
}