html {
    background-color: $base-bg-color;
    box-sizing: border-box;
}

html,
body {
    //height: 100%;
    //width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $base-text-color;
    font-family: $base-body-font;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
    opacity: 1;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;

    &.loaded {
        overflow: auto;
    }

    //To prevent the iPhone and iPad from inflating fonts
    @include respond-to($large, max) {
        -webkit-text-size-adjust: 100%;
    }
}

img {
    max-width: 100%;
}

main {
}

.loader {
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transition: 1s ease-in-out opacity;
    width: 50px;
    z-index: 100;

    &::before {
        background-color: $color-black;
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &::after {
        color: $color-white;
        content: 'Loading';
        display: block;
        font-family: "Helvetica Neue", "Helvetica", sans-serif;
        font-size: .75rem;
        font-weight: 500;
        left: 50%;
        letter-spacing: 1px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        transform: translate(-50%, 0);
        white-space: nowrap;
    }

    svg {
        animation: spin 1s linear infinite;
        position: relative;
        z-index: 0;

        .path {
            stroke-dasharray: 110;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke: $color-white;
        }
    }

    .loaded & {
        opacity: 0;

        svg {
            .path {
                transition: 1s ease-in-out;
                stroke-dasharray: 200;
                stroke-dashoffset: 200;
            }
        }

        &::after {
            opacity: 0;
            transform: translate(-50%, 50%);
            transition: .2s ease-in-out;
        }
    }
}