//TYPOGRAPHY
//$base-sans-serif: "Josefin Sans", sans-serif;
$base-sans-serif: "brandon-grotesque", sans-serif;

$base-heading-font: $base-sans-serif;
$base-body-font: $base-sans-serif;
$base-line-height: 1.45;
$base-font-size: 16px;

$font-weight-regular: 400;
//$font-weight-bold: 700;
$font-weight-bold: 900;

//MAIN COLOR PALETTE - For naming colors variables, I used http://chir.ag/projects/name-that-color/
//$color-black: #090d11;
$color-black: #08090E;
$color-white: #eee;

//$color-black: #eee;
//$color-white: #08090E;

//COMMON COLORS
$base-text-color: $color-white;
$base-bg-color: $color-black;

$system-highlight: #227df4;
$base-border: #414447;

//Forms
$input-placeholder-color: rgba($color-white, .35);


//SUSY GRID
$susy: (
    columns: 12,
    gutters: 1,
    math: fluid,
    output: isolate,
    gutter-position: after,
);

$global-padding: 2rem;

// MEDIA QUERIES
$small:  34em;
$medium: 48em;
$large:  62em;
$xlarge: 75em;
$default-direction: 'min'; // 'min' for mobile first, 'max' for desktop first.

$pswp__show-hide-transition-duration: 333ms !default;
$pswp__controls-transition-duration: 333ms !default;
$pswp__background-color: $color-black;
$pswp__placeholder-color: #222 !default;
$pswp__box-sizing-border-box: false; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500 !default;
$pswp__assets-path: '/assets/default-skin/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #CCC !default; // "Image not loaded" text color
$pswp__include-minimal-style: true !default;

