
{% if page.home_header %}
<header role="banner" class="site-header home-header">
{% else %}
<header role="banner" class="site-header header--stuck">
{% endif %}
    <!--
        So where are we with the whole "h1" vs "a" thing on the website logos? Should this just be a link? Typically, for larger, multi-page websites,
        I  leave this as just a link, and move the h1 tag to the title of the current page, but given that this site is only one page...I think its okay.
        I'd love to hear your thoughts on this, though. 'Cuz you know, SEO.
     -->
    <div class="container">
        <h1 class="site-logo">
            <a href="/">
                <svg class="logo-mark">
                    <use xlink:href="#vs"></use>
                </svg>
            </a>
            {% if page.home_header %}
            <!--<span class="logo-text">-->
            <!--<span class="name">Vlad Shapochnikov</span>-->
            <!--<span class="tag-line">developer &ndash; photographer &ndash; adventurer</span>-->
            <!--</span>-->
            {% endif %}
        </h1>
        <nav class="site-nav" role="navigation">
            <ul>
                <li><a href="/">About</a></li>
                {% for item in site.navigation %}
                {% assign class = nil %}
                {% if page.url contains item.url %}
                {% assign class = 'active' %}
                {% endif %}
                <li><a href="{{ item.url }}" class="{{ class }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>