<!DOCTYPE html>
<html lang="en">
<head>

    <!--
        Hey! I see you looking at my code...trynna steal something? Just kidding, go for it.
        If you see any bugs, have suggestions, or think this code is total crap, let me know via twitter! - @vladshap
        If you have an interesting project you need help or, or just want to say hello, email me at vladshap[at]gmail[dot]com
        I'd love to hear from you.

        --------------------

        v2.1.9.3.52 - Copyrighted in 2017, by ME. Feel free to steal anything, but it won't make you happy.
    -->

    <meta charset="utf-8">
    <title>{{ page.title }} | Vlad Shapochnikov - A web developer and an aspiring explorer.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="Vlad Shapochnikov is a front-end web developer, product designer, photographer (hobbyist), and an aspiring explorer from Chicago, Illinois.">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Vlad Shapochnikov is a front-end web developer, product designer, photographer (hobbyist), and an aspiring explorer from Chicago, Illinois.">
    <meta property="og:site_name" content="Vlad Shapochnikov">
    <meta property="og:url" content="http://vladshap.com/">
    <meta property="og:image" content="http://vladshap.com/assets/images/og-image.jpg">
    <meta property="article:author" content="http://vladshap.com/">

    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400i" rel="stylesheet">
    {% if page.url == "/resume/" %}
    <link rel="stylesheet" href="/assets/styles/resume.min.css">
    {% else %}
    <link rel="stylesheet" href="/assets/styles/main.min.css">
    {% endif %}


    <!-- What's your device? I've got an icon for it...no, but really, is this necessary? -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
    <meta name="theme-color" content="#eeeeee">

    <script>
        (function (d) {
            var config = {
                    kitId: 'dzy0drz',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded")return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {
                }
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
</head>
<body class="loading">

{% if page.url != "/resume/" %}
{% include svg.html %}
{% endif %}
