@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.frame:after {
  clear: both;
  content: '';
  display: table; }

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .focusable.vh:active, .focusable.vh:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h1 {
  font-size: 2.441em;
  line-height: normal;
  margin-top: 0; }

h2 {
  font-size: 1.4em;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.25rem; }

h4 {
  font-size: 1.563em;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.25rem; }

ul {
  list-style: none; }

em {
  font-style: italic;
  font-weight: normal; }

strong {
  font-weight: 700; }

small {
  font-size: 87.5%; }

.freelance {
  display: table;
  font-size: .65rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 0 auto 3rem;
  padding-left: .75rem;
  position: relative;
  text-transform: uppercase; }
  .freelance::before, .freelance::after {
    background-color: rgba(0, 255, 72, 0.5);
    border-radius: 5px;
    content: '';
    display: inline-block;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: top; }
  .freelance::before {
    box-shadow: 0 0 5px 0 #00ff48;
    height: 4px;
    margin-right: .5rem;
    width: 4px; }
  .freelance::after {
    height: 2px;
    left: 1px;
    position: absolute;
    width: 2px; }

.btn, .project--btn {
  background-color: #eee;
  border: 1px solid transparent;
  color: #090d11;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.5rem;
  margin: 0;
  outline: none;
  padding: .5rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s;
  vertical-align: top; }
  .btn:hover, .project--btn:hover {
    background-color: #090d11;
    border-color: #eee;
    color: #eee;
    text-decoration: none; }
  .btn + .btn, .project--btn + .btn, .btn + .project--btn, .project--btn + .project--btn {
    margin-left: 1em; }
  .btn--centered {
    display: table;
    margin-left: auto;
    margin-right: auto; }

.contact-form {
  padding: 2rem 0; }
  @media screen and (min-width: 34em) {
    .contact-form {
      padding: 2rem 5rem; } }
  .contact-form .btn, .contact-form .project--btn {
    margin-bottom: 4rem;
    margin-top: 0; }

fieldset {
  display: block;
  margin-bottom: 1.5rem;
  position: relative; }

::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.35); }

::-moz-placeholder {
  color: rgba(238, 238, 238, 0.35); }

:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.35); }

label {
  bottom: 0;
  color: #eee;
  display: block;
  font-size: .75rem;
  font-weight: 700;
  left: 0;
  letter-spacing: 1px;
  line-height: 20px;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: .2s;
  width: 100%;
  z-index: 0; }
  @media screen and (min-width: 34em) {
    label {
      line-height: 44px; } }
  label::before {
    background-color: #eee;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: .2s ease-out;
    width: 0; }

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(238, 238, 238, 0.25);
  border-radius: 0;
  color: #eee;
  display: block;
  font-size: .875rem;
  height: 44px;
  margin-top: 20px;
  outline: none;
  transition: .2s;
  width: 100%;
  -webkit-appearance: none; }
  @media screen and (min-width: 34em) {
    .input {
      margin-top: 0;
      padding: 0 1rem 0 6rem; } }
  @media screen and (min-width: 48em) {
    .input:focus ~ label::before {
      width: 100%; } }
  .input.text-area {
    min-height: 100px;
    padding-top: .75rem;
    resize: none; }

.mtn {
  display: block;
  fill: #eee;
  height: 14px;
  margin: 0 auto .5rem;
  width: 40px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }

html {
  box-sizing: border-box;
  background-color: #090d11; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  color: #eee;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  opacity: 1;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 62em) {
    body {
      -webkit-text-size-adjust: 100%; } }

.container {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  width: 100%; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

img {
  max-width: 100%; }

main {
  background-color: #090d11;
  margin-bottom: 74px;
  position: relative; }

.frame {
  overflow: hidden;
  padding: 6rem 0;
  position: relative; }
  .frame:last-of-type {
    border-bottom: 0; }
  @media screen and (min-width: 48em) {
    .frame {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; } }
  .frame__about {
    padding-top: 200px; }

figure {
  margin-bottom: 1.5rem;
  position: relative; }
  figure img {
    display: block; }
  figure figcaption {
    opacity: 0;
    transition: .25s ease-in-out; }
  figure:hover figcaption {
    opacity: 1; }

.photo-credit {
  background-color: rgba(9, 13, 17, 0.85);
  bottom: 0;
  font-size: .65rem;
  padding: .2rem .4rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: .25s; }
  .photo-credit:hover {
    background-color: #090d11; }

.site-header {
  background-color: #090d11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  padding: 0;
  position: relative;
  z-index: 20;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .site-header::before {
    background-color: transparent;
    content: '';
    height: 60px;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0; }
  .loading .site-header {
    overflow: hidden; }

.site-logo {
  display: inline-block;
  opacity: 1;
  margin: 0;
  position: relative;
  text-align: center;
  transform: scale(1);
  transition: 3s cubic-bezier(0.58, 0.3, 0.51, 0.82);
  transition-delay: 2s;
  vertical-align: top;
  z-index: 10; }
  .loading .site-logo {
    opacity: 0;
    transform: scale(0.95); }
  .site-logo a {
    display: inline-block;
    font-size: 1rem;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    vertical-align: top; }
    .loaded .site-logo a:hover span {
      opacity: 1; }
    .site-logo a:active {
      transform: scale(1);
      transition: .2s ease-in-out; }

.logo-mark {
  display: block;
  height: 7.5rem;
  margin: 0 auto;
  position: relative;
  vertical-align: top;
  width: 4.5rem;
  fill: rgba(238, 238, 238, 0.85); }
  @media screen and (min-width: 48em) {
    .logo-mark {
      height: 15rem;
      left: -8px;
      width: 9rem; } }

.bg {
  bottom: 0;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: 5s ease-in-out opacity, 4s ease-in-out -webkit-filter, 4s ease-in-out -moz-filter, 4s ease-in-out filter, 3s ease-in-out transform;
  z-index: -1;
  -moz-filter: blur(0px); }
  .loading-images .bg {
    opacity: 0; }
  .loading .bg {
    -webkit-filter: blur(20px);
            filter: blur(20px); }
  .loaded .bg {
    transition: 0s; }
  .bg::before, .bg::after {
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .bg::before {
    background: linear-gradient(to bottom, rgba(9, 13, 17, 0) 0%, rgba(9, 13, 17, 0.5) 100%);
    bottom: 0;
    height: 50%; }
  .bg::after {
    background: linear-gradient(to bottom, rgba(9, 13, 17, 0) 0%, #090d11 100%);
    bottom: 0;
    height: 200px; }
  .bg figure {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0; }
  .bg figcaption {
    position: absolute;
    right: 2rem;
    top: 2rem; }
    .bg figcaption a {
      background: rgba(9, 13, 17, 0.25);
      border: 1px solid rgba(238, 238, 238, 0.75);
      border-radius: 30px;
      color: transparent;
      display: block;
      font-size: .75rem;
      height: 35px;
      line-height: 19px;
      outline: none;
      overflow: hidden;
      padding: .5rem 1rem;
      text-decoration: none;
      transition: 0.2s cubic-bezier(0.58, 0.3, 0.51, 0.82);
      white-space: nowrap;
      width: 35px;
      z-index: 300;
      position: relative;
      opacity: .2; }
      .bg figcaption a::before {
        content: '●●●';
        left: 0;
        width: 100%;
        text-align: center;
        color: #eee;
        position: absolute;
        transition: .2s ease-out; }
      .bg figcaption a:hover {
        color: #eee;
        width: 300px;
        opacity: 1; }
        .bg figcaption a:hover::before {
          opacity: 0; }
  .bg div {
    height: 100%; }
  .bg img {
    display: block;
    left: 50%;
    max-width: none;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

.site-footer {
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  z-index: -1;
  text-align: center; }
  .site-footer .copyright {
    font-size: .75rem;
    margin-bottom: 0;
    line-height: 20px; }

.frame__about {
  border-bottom: 0; }

.frame__projects {
  padding-bottom: 0; }

.project {
  position: relative;
  width: 100%;
  z-index: 1;
  background-size: cover;
  background-repeat: none; }
  .project::before {
    position: absolute;
    content: '';
    background-color: rgba(9, 13, 17, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .project::after {
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .project::after {
    background: linear-gradient(to bottom, rgba(9, 13, 17, 0) 0%, #090d11 100%);
    bottom: 0;
    height: 50%; }
  .project--wrap {
    display: block;
    padding: 3.5rem 1.5rem;
    position: relative;
    z-index: 11;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto; }
    .project--wrap:after {
      content: " ";
      display: block;
      clear: both; }
    @media screen and (min-width: 48em) {
      .project--wrap {
        padding: 7.5em 1.5rem; } }
  .project--btn {
    margin-top: 1rem; }

#project__hightimes {
  background-image: url("../images/bg/project-ht.jpg");
  background-position: 50% 20%; }

#project__flor {
  background-image: url("../images/bg/project-flor.jpg");
  background-position: 50% 80%; }

#project__northern-fork {
  background-image: url("../images/bg/project-nf.jpg");
  background-position: 50% 60%; }

#project__onewake {
  background-image: url("../images/bg/project-ow.jpg");
  background-position: 50% 40%; }

#project__osx {
  background-image: url("../images/bg/project-osx.jpg");
  background-position: 50% 80%; }

.frame__contact {
  min-height: 100vh;
  padding-bottom: 1rem; }

.social-links {
  display: block;
  text-align: center;
  width: 100%; }
  .social-links .icon {
    height: 1.25rem;
    transition: .2s ease-out;
    width: 1.25rem;
    fill: #eee; }
  .social-links li {
    display: inline-block;
    vertical-align: top; }
  .social-links a {
    display: block;
    padding: 1em; }
    .social-links a:hover .icon-github {
      fill: #4183c4; }
    .social-links a:hover .icon-codepen {
      fill: #fcd000; }
    .social-links a:hover .icon-flickr {
      fill: #ff0084; }
    .social-links a:hover .icon-twitter {
      fill: #55acee; }
    .social-links a:hover .icon-instagram {
      fill: #e4405f; }
    .social-links a:hover .icon-dribbble {
      fill: #ea4c89; }

.canvas {
  display: none; }
  @media screen and (min-width: 62em) {
    .canvas {
      bottom: 0;
      display: block;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 0; } }
  .loading .canvas {
    opacity: 0; }
  @media screen and (min-width: 48em) {
    .canvas svg {
      bottom: 5px;
      height: 80%;
      position: absolute;
      right: 5px; } }
  .canvas svg path {
    stroke: rgba(238, 238, 238, 0.2);
    stroke-width: 1; }
  .canvas svg .circle {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: 100% 100%;
    transition: .2s;
    stroke-width: 0;
    transition-delay: .25s;
    fill: #D0021B; }
  .canvas .title {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: 50% 50%;
    transition: .2s;
    transition-delay: 0; }
  .canvas.finished .title {
    opacity: 1;
    transform: scale(1);
    transition-delay: .25s; }
  .canvas.finished .circle {
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1.25); }

#map {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 1; }
  #map .mapboxgl-canvas-container {
    height: 100% !important; }

#features {
  width: 50%; }
  #features img {
    display: block;
    max-width: 100%; }
  #features section {
    padding: 2rem;
    opacity: .05;
    box-shadow: inset 0 0 0 0 #eee;
    transition: .25s ease-in-out; }
    #features section.active {
      opacity: 1;
      box-shadow: inset -3px 0 0 0 #eee; }
