/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p.job-title:after, .frame:after {
  clear: both;
  content: '';
  display: table; }

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .focusable.vh:active, .focusable.vh:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.align-right {
  float: right; }

/* latin-ext */
p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem; }
  .resume p {
    font-size: 1rem;
    margin-bottom: 1rem; }
  @media screen and (min-width: 34em) {
    p.intro {
      font-size: 1.25rem; } }
  p.job-title {
    font-weight: 900;
    margin-bottom: 0;
    padding-right: 75px;
    position: relative; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 0 0 .5rem; }

h1 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 34em) {
    h1 {
      font-size: 2rem;
      letter-spacing: 3px; } }
  h1 .title {
    display: block;
    font-size: 1rem;
    letter-spacing: 1px; }
    @media screen and (min-width: 34em) {
      h1 .title {
        font-size: 1.45rem;
        letter-spacing: inherit; } }

h2 {
  background-color: #08090E;
  display: table;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: normal;
  margin: 2rem auto 1.5rem;
  padding: 0 .35rem 0 .5rem;
  text-align: center;
  text-transform: uppercase; }
  .resume h2 {
    background-color: #eee; }
  h2::before {
    background-color: #eee;
    content: '';
    display: block;
    height: 1px;
    left: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 10px;
    z-index: -1; }
    .resume h2::before {
      background-color: #08090E; }
    .column h2::before {
      left: 0;
      right: 0; }

h3 {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 1.25rem;
  text-transform: uppercase; }

h4 {
  font-size: 1.563em;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 1.25rem; }

ul {
  list-style: none; }
  ul.bullets {
    list-style-type: disc;
    list-style-position: inside; }

em {
  font-style: italic;
  font-weight: 400; }

strong {
  font-weight: 900; }

small {
  font-size: 75%;
  opacity: .5; }

.date {
  font-size: .875rem;
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 2px; }

.copyright {
  font-size: .75rem;
  line-height: 20px;
  margin-bottom: 0; }
  @media screen and (min-width: 48em) {
    .copyright {
      font-size: .875rem; } }

.small {
  display: block;
  font-size: .65rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.2;
  position: relative;
  text-transform: uppercase;
  text-align: center; }

.freelance {
  display: table;
  margin: 5rem auto;
  padding-left: .75rem;
  position: relative;
  text-align: right;
  text-transform: uppercase; }
  .freelance::before, .freelance::after {
    background-color: rgba(0, 255, 72, 0.5);
    border-radius: 5px;
    content: '';
    display: block;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .freelance::before {
    box-shadow: 0 0 5px 0 #00ff48;
    height: 4px;
    margin-right: .5rem;
    width: 4px; }
  .freelance::after {
    height: 2px;
    left: 1px;
    position: absolute;
    width: 2px; }

.current-location {
  font-size: .75rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase; }
  .current-location .title {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1; }
  .current-location .flag {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 4px; }

html {
  background-color: #eee;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  color: #08090E;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  opacity: 1;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 62em) {
    body {
      -webkit-text-size-adjust: 100%; } }

@media screen and (min-width: 48em) {
  .column {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%; } }

@media screen and (min-width: 48em) {
  .column:last-child {
    float: right;
    margin-right: 0; } }

.wrapper {
  position: relative; }

.resume-footer {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center; }

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  width: 100%;
  max-width: 34em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 75em) {
    .container {
      max-width: 48em;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  .resume .container {
    max-width: 62em;
    margin-left: auto;
    margin-right: auto; }
    .resume .container:after {
      content: " ";
      display: block;
      clear: both; }
  .container--wide {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto; }
    .container--wide:after {
      content: " ";
      display: block;
      clear: both; }

.frame {
  overflow: hidden;
  position: relative; }
  .frame:last-of-type {
    border-bottom: 0; }
  .frame__about {
    padding-bottom: 3rem;
    padding-top: 3rem; }
    @media screen and (min-width: 48em) {
      .frame__about {
        padding-bottom: 6rem;
        padding-top: 6rem; } }
  @media screen and (min-width: 48em) {
    .frame__projects {
      margin-bottom: 200px; } }
  .frame__contact {
    height: auto;
    padding-bottom: 3rem;
    padding-top: 3rem; }
    @media screen and (min-width: 62em) {
      .frame__contact {
        padding-bottom: 10rem;
        padding-top: 2rem; } }
    @media screen and (min-width: 48em) {
      .frame__contact h2 {
        margin-bottom: 4rem; } }

figure {
  margin-bottom: 1.5rem;
  position: relative; }
  figure img {
    display: block; }
  figure figcaption {
    position: absolute;
    right: 0;
    white-space: nowrap;
    padding-top: .25rem;
    font-size: .5rem;
    line-height: normal;
    z-index: 10;
    opacity: .5; }
    figure figcaption a {
      text-decoration: none; }
      figure figcaption a:hover {
        text-decoration: underline; }

.about-image {
  opacity: .75; }
