//.chicago-map {
//
//    @include respond-to($medium) {
//        bottom: -5px;
//        height: 80%;
//        position: absolute;
//        right: -10px;
//    }
//
//    path {
//        stroke: rgba($color-gallery, .2);
//        stroke-width: 1;
//    }
//    .logan-square {
//        opacity: 0;
//        transform: translate(-10px, 0) scale(.5);
//        transform-origin: 50% 50%;
//        transition: .2s;
//        transition-delay: .15s;
//
//        .finished & {
//            opacity: 1;
//            transform: translate(-7px, -5px) rotate(-10deg) scale(1);
//        }
//    }
//
//    .star {
//        opacity: 0;
//        transform: translate(0, 0) scale(.5);
//        transform-origin: 100% 100%;
//        transition: .2s;
//
//        .finished & {
//            opacity: 1;
//            transform: translate(0, 0) scale(1);
//        }
//
//        polygon {
//            display: block;
//            fill: #963636;
//            stroke-width: 0;
//        }
//    }
//
//    .ls-title {
//        fill: $color-gallery;
//        stroke-width: 0;
//    }
//}

.canvas {
    display: none;

    @include respond-to($large) {
        bottom: 0;
        display: block;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 0;
    }

    .loading & {
        opacity: 0;
    }

    svg {

        @include respond-to($medium) {
            bottom: 5px;
            height: 80%;
            position: absolute;
            right: 5px;
        }

        path {
            stroke: rgba($color-gallery, .2);
            stroke-width: 1;
        }

        .circle {
            opacity: 0;
            transform: scale(.5);
            transform-origin: 100% 100%;
            transition: .2s;
            transition-delay: .25s;
            stroke-width: 0;
            fill: #D0021B;
        }
    }


    .title {
        opacity: 0;
        transform: scale(.5);
        transform-origin: 50% 50%;
        transition: .2s;
        transition-delay: 0s;
    }

    &.finished {

        .title {
            opacity: 1;
            transform:  scale(1);
            transition-delay: .25s;
        }

        .circle {
            opacity: 1;
            transform: scale(1.25);
            transition-delay: 0s;
        }
    }
}