.canvas {
    display: none;

    @include respond-to($large) {
        bottom: 0;
        display: block;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;

    }

    .loading & {
        opacity: 0;
    }

    svg {

        @include respond-to($medium) {
            bottom: 10%;
            position: absolute;
            right: -1px;
            width: 60%;
        }

        path {
            stroke: rgba($color-gallery, .75);
            stroke-miterlimit: 10;
            stroke-width: .25;
            fill: none;
        }
    }
}