.canvas {
    display: none;
    text-align: center;

    @include respond-to($medium) {
        display: block;
        pointer-events: none;
        position: relative;
        z-index: -1;
        padding-bottom: 100%;
        background: rgba(255,255,255,0);
        // background: radial-gradient(ellipse at center, rgba($base-border, .1) 0%, rgba($base-border, 0) 50%);
    }

    .loading & {
        opacity: 0;
    }

    svg {
        width: 100%;
        min-height: 100%;
        left: 0;
        height: 100%;
        position: absolute;

        @include respond-to($medium) {
        }

        path {
            stroke: $color-gray;
            stroke-miterlimit: 10;
            stroke-width: .25;
            fill: $base-bg-color;
        }
    }
}

.current-location {
    display: none;
    position: relative;

    &::before {
        position: absolute;
        left: -3.5px;
        bottom: -3.5px;
        content: '';
        width: 0;
        height: 0;
        transform: rotate(45deg);
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 7px solid $base-text-color;
    }

    @include respond-to($medium) {
        display: inline-block;
        position: absolute;
        top: 36.75%;
        left: 3%;
        transform: translate(0%, 10%);
        font-size: .6rem;
        font-weight: $font-weight-bold;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
        z-index: 1;
        background-color: $base-text-color;
        color: $base-bg-color;
        padding: .4rem .65rem .3rem;
        border-radius: 5px 5px 5px 0;
    }

    .title {
        display: block;
        font-size: .75rem;
        font-weight: $font-weight-regular;
        text-transform: none;
        line-height: 1;
    }

    .flag {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        margin-right: 4px;
    }
}