.site-footer {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    position: relative;
}

.social-links {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0;
    margin-top: 1rem;

    .site-footer & {
        text-align: center;
        margin-top: 0;
    }

    .icon {
        height: 2.25rem;
        width: 2.25rem;
        padding: .5rem;
        fill: $base-text-color;
        border-radius: 7px;
    }

    li {
        display: inline-block;
        vertical-align: top;
        margin-right: .5rem;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        display: block;
        border-radius: 2rem;

        &:hover {

            .icon {
                fill: $color-white;
            }

            .icon-github {
                background-color: #4183c4;
            }

            .icon-codepen {
                background-color: #fcd000;
            }

            .icon-flickr {
                background-color: #ff0084;
            }

            .icon-twitter {
                background-color: #55acee;
            }

            .icon-instagram {
                //background-color: #e4405f;
                background:
                        /////// Use radial gradients to get the rounded
                        /////// gradient effect in each corner

                        // left bottom
                        radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                            // left top
                        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                            //  right top
                        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                            // right bottom
                        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                            /////// create a base coat to smooth
                            /////// corner gradients
                        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            }

            .icon-dribbble {
                background-color: #ea4c89;
            }

            .icon-spotify {
                background-color: #2ebd59;
            }

            .icon-youtube {
                background-color: #cd201f;
            }
        }

        .icon-github {
            fill: #4183c4;
        }

        .icon-codepen {
            fill: #fcd000;
        }

        .icon-flickr {
            fill: #ff0084;
        }

        .icon-twitter {
            fill: #55acee;
        }

        .icon-instagram {
            fill: #e4405f;
        }

        .icon-dribbble {
            fill: #ea4c89;
        }

        .icon-spotify {
            fill: #2ebd59;
        }

        .icon-youtube {
            fill: #cd201f;
        }
    }
}