.instafeed {
	margin-left: -1px;
	margin-right: -1px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@include clearfix();

	figure {
		width: 20%;
		padding: 1px;
		margin: 0;

		> a {
			display: block;
		}

		img {
			display: block;
		}
	}

	figcaption {
		display: none;
	}
}


.gallery {
	margin-bottom: 2rem;
	margin-left: -5px;
	margin-right: -5px;

	.photo {
		text-decoration: none;
	}

	img {
		display: block;
	}

	a {
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		position: relative;
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}

.gallery-stats {
	text-align: center;
	font-size: 0;
	margin-top: 4rem;
	margin-bottom: 4.5rem;

	li {
		display: inline-block;
		vertical-align: top;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.number {
		font-size: 3rem;
		font-weight: $font-weight-bold;
		display: block;
		line-height: 1;
	}

	.title {
		display: block;
		font-size: .75rem;
	}
}

.pswp--zoom-allowed .pswp__img {
	cursor: default !important
}

a.pswp__share--instagram {
	&:hover {
		background: #e4405f;
		color: #fff;
	}
}

a.pswp__share--pinterest {
	&:hover {
		background: #CE272D;
		color: #fff;
	}
}

.pswp__caption {
	color: $color-white;
	text-align: center;
	padding-top: 5px;
	p {
		font-size: .75rem;
		font-weight: $font-weight-regular;
	}
}



.justified-gallery {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.justified-gallery > a,
.justified-gallery > figure {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	background: #888888;
	opacity: 0.1;
}
.justified-gallery > a > img,
.justified-gallery > figure > img,
.justified-gallery > a > a > img,
.justified-gallery > figure > a > img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	border: none;
	opacity: 0;
}
.justified-gallery > a > .caption,
.justified-gallery > figure > .caption {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 5px;
	background-color: #000000;
	left: 0;
	right: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 300;
}
.justified-gallery > a > .caption.caption-visible,
.justified-gallery > figure > .caption.caption-visible {
	display: initial;
	opacity: 0.7;
	transition: opacity 500ms ease-in;
}
.justified-gallery > .entry-visible {
	opacity: 1;
	background: none;
}
.justified-gallery > .entry-visible > img,
.justified-gallery > .entry-visible > a > img {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.justified-gallery > .jg-filtered {
	display: none;
}
.justified-gallery > .spinner {
	position: absolute;
	bottom: 0;
	margin-left: -24px;
	padding: 10px 0 10px 0;
	left: 50%;
	opacity: 1;
	overflow: initial;
}
.justified-gallery > .spinner > span {
	display: inline-block;
	opacity: 0;
	width: 8px;
	height: 8px;
	margin: 0 4px 0 4px;
	background-color: #000;
	border-radius: 6px;
}
