.site-header {
	min-height: 450px;
	padding: 0;
	margin-bottom: 80px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	//background: $base-bg-color url('/assets/images/moss-wallpaper.jpg') no-repeat scroll 50% 100%;
	background: $base-bg-color url('/assets/images/wall_1685.jpg') no-repeat scroll 50% 0%;
	background-size: cover;
	z-index: -1;

	@include respond-to($small) {
		background-image: url('/assets/images/wall_2458.jpg');
	}

	@include respond-to($medium) {
		background-image: url('/assets/images/wall_2880.jpg');
	}

	&::before,
	&::after {
		content: '';
		left: 0;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	&::before {
		background: linear-gradient(to bottom, rgba($color-black, 0) 0%, rgba($color-black, .5) 100%);
		bottom: 0;
		height: 50%;
	}

	&::after {
		background: linear-gradient(to bottom, rgba($color-black, 0) 0%, $color-black 100%);
		bottom: 0;
		height: 200px;
	}
}

.site-logo {
	display: block;
	margin: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
	z-index: 10;
	width: 100%;

	.sticky & {
		position: fixed;
		top: 0;
		left: 0;
		margin-bottom: 0;
		width: auto;
	}
}

.logo-mark {
	display: block;
	height: 7.5rem;
	margin: 0 auto 1rem;
	position: relative;
	vertical-align: top;
	width: 4.5rem;
	fill: $color-white;
	stroke-width: .5;
	stroke: $color-black;

	@include respond-to($medium) {
		height: 15rem;
		width: 9rem;
	}

	.sticky & {
		width: 1rem;
		height: 1.75rem;
		top: .25rem;
		left: .25rem;
		@extend %animated;
		@extend %fadeIn;

		@include respond-to($medium) {
			width: 2rem;
			height: 3.5rem;
			top: 1.5rem;
			left: 1.5rem;
		}
	}

}

.logo-text {
	display: block;
	//font-size: 1rem;
	//text-decoration: none;
	//text-transform: uppercase;
	//letter-spacing: 2px;
	//font-weight: $font-weight-bold;
	//text-shadow: 0 0 5px $color-black;
	//pointer-events: none;


	font-size: 1.25rem;
	font-weight: $font-weight-bold;
	letter-spacing: 2px;
	text-shadow: 0 0 20px $color-black, 0 0 15px rgba($color-black, 0.25), 0 0 1px rgba($color-black, 0.5), 0 0 50px $color-black;
	position: absolute;
	top: 50%;
	margin-top: -27px;
	left: 0;
	right: 0;
	text-align: center;

	@include respond-to($medium) {
		font-size: 2.5rem;
	}

	.sticky & {
		display: none;
	}
}

.tag-line {
	display: block;
	font-size: .69rem;
	font-weight: $font-weight-regular;
	letter-spacing: 0;
	line-height: 1.2;
	position: relative;
	text-transform: uppercase;
	text-align: center;

	@include respond-to($medium) {
		font-size: 1.1rem;
		letter-spacing: 2px;
	}
}

.scroll-indicator {
	display: block;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	//opacity: 0;
	position: absolute;
	bottom: 1rem;
	//transition: opacity 3s cubic-bezier(.55, .16, .48, .93);
	width: 50px;
	z-index: 100;

	.loaded & {
		//opacity: 1;
		//transition-delay: 2s;
	}

	&::before,
	&::after {
		content: '';
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&::before {
		animation: dot 3s infinite ease-in-out;
		border: 1px solid $color-white;
		border-radius: 10px;
		height: 12px;
		width: 12px;
	}

	&::after {
		animation: arrow 3s infinite ease-in-out;
		animation-delay: .75s;
		border-bottom: 1px solid $color-white;
		border-right: 1px solid $color-white;
		height: 7px;
		opacity: .25;
		transform: rotate(45deg);
		width: 7px;
	}

	span {
		display: block;
		&::before,
		&::after {
			animation: dot 3s infinite ease-in-out;
			border: 1px solid $color-white;
			border-radius: 10px;
			content: '';
			display: block;
			margin: 5px auto;
		}
		&::before {
			animation-delay: .25s;
			height: 8px;
			width: 8px;
		}
		&::after {
			animation-delay: .5s;
			height: 6px;
			width: 6px;
		}
	}
}