.about {

	&--image {
		max-width: 200px;
		margin: 0 auto;
		position: relative;
		clear: both;

		@include respond-to($medium) {
			position: fixed;
			max-width: 500px;
			bottom: -5px;
			left: 50%;

		}

		&:hover {
			figcaption {
				opacity: 1;
				transform: scale(1) rotate(-10deg) translate(-5px, -15px);
			}
		}

		img {
			display: block;
		}

		figcaption {
			position: absolute;
			z-index: 1;
			font-size: 1rem;
			top: 35%;
			left: 10%;
			color: $color-light-gray;
			font-family: $base-serif;
			background-color: $color-black;
			border-radius: 50%;
			opacity: 0;
			line-height: 1;
			transition: .1s $cubic-bezier;
			transform: scale(.75) rotate(0);
			padding: .75rem 1rem .5rem;
			user-select: none;
			cursor: default;

			&::before {
				content: '';
				bottom: -3px;
				right: 6px;
				transform: rotate(-32deg);
				position: absolute;
				border-top: 10px solid $color-black;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
		}
	}

	&--me {
		@include respond-to($medium) {
			width: 50%;
			float: left;
			padding-right: 1.5%;
		}

		.btn--centered {
			margin-bottom: 3rem;

			@include respond-to($medium) {
				margin-left: 0;
			}
		}
		
		.social-links {
			text-align: center;
			margin-bottom: 3rem;

			@include respond-to($medium) {
				text-align: left;
			}
		}
	}
}