main {
    padding-top: 8rem;
    z-index: 1;
    position: relative;
    background-color: $base-bg-color;

    @include respond-to($small) {
        padding-top: 6rem;
    }
}


.container {
    padding-left: $base-padding;
    padding-right: $base-padding;
    position: relative;
    width: 100%;
    @include container($large);

    .resume & {
        @include container($large);
    }

    &--tiny {
        @include container($small);
    }

    &--large {
        @include container($large);
    }

}

.frame {
    position: relative;

    @include respond-to($large) {
        min-height: calc( 100vh - 64px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.image {
    margin-bottom: $base-padding;
    border: 1px solid $base-border;

    img {
        display: block;
    }
}