.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    width: 100%;
    @include container($small);

    @include respond-to($xlarge) {
        @include container($medium);
    }

    .resume & {
        @include container($large);
    }

}

.frame {
    overflow: hidden;
    position: relative;
    @include clearfix();

    &:last-of-type {
        border-bottom: 0;
    }

    @include respond-to($medium) {
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
    }

    &__about {
        padding-bottom: 3rem;
        padding-top: 3rem;

        @include respond-to($medium) {
            padding-bottom: 6rem;
            padding-top: 6rem;
        }
    }

    &__projects {

        @include respond-to($medium) {
            margin-bottom: 200px;
        }
    }

    &__contact {
        height: auto;
        padding-bottom: 3rem;
        padding-top: 3rem;

        @include respond-to($large) {
            padding-bottom: 10rem;
            padding-top: 2rem;
        }

        h2 {

            @include respond-to($medium) {
                margin-bottom: 4rem;
            }
        }
    }
}

figure {
    margin-bottom: 1.5rem;
    position: relative;

    img {
        display: block;
    }

    figcaption {
        position: absolute;
        left: 100%;
        white-space: nowrap;
        bottom: -1rem;
        padding-top: .25rem;
        font-size: .75rem;
        line-height: normal;
        transform-origin: left top;
        transform: rotate(-90deg);
        opacity: .5;

        a {
            text-decoration: none;
            //font-weight: $font-weight-bold;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &:hover {
        figcaption {
        }
    }
}
//
//.about-image {
//    float: left;
//    position: absolute;
//    width: 75%;
//    right: -40%;
//    top: -25%;
//    z-index: -1;
//    opacity: .5;
//    //padding-right: 1.5rem;
//}
//
//.about-content {
//    //float: left;
//    //width: 50%;
//}