.instafeed {
	margin-bottom: 3rem;
	margin-left: -1px;
	margin-right: -1px;
	opacity: 0;
	transition: .75s $cubic-bezier;
	transition-delay: .75s;
	transform: translate(0, 10px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@include clearfix();

	.active & {
		opacity: 1;
		transform: translate(0, 0);
	}

	figure {
		width: 33.33%;
		padding: 1px;
		margin: 0;

		> a {
			display: block;
		}

		img {
			display: block;
		}

	}

	figcaption {
		display: none;
	}
}

.pswp--zoom-allowed .pswp__img {
	cursor: default !important
}

a.pswp__share--instagram {
	&:hover {
		background: #e4405f;
		color: #fff;
	}
}

a.pswp__share--pinterest {
	&:hover {
		background: #CE272D;
		color: #fff;
	}
}