.projects {
    @include respond-to($small) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.project {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-bottom: 2%;
    text-align: center;
    padding: 3.5em 1.5rem;
    width: 100%;

    @include respond-to($medium) {
        width: 49%;
        padding: 7.5em 1.5rem;

    }

    &:nth-child(2n) {
        @include respond-to($medium) {
            margin-right: 0;
            margin-left: 1%;
        }
    }


    &:nth-child(2n+1) {
        @include respond-to($medium) {
            margin-left: 0;
            margin-right: 1%;
        }
    }


    &::before {
        background-color: $color-black;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        transition: .4s $cubic-bezier;
        transition-delay: .5s;

        .active & {
            opacity: .8;
        }
    }

    h3 {

        transition: .5s $cubic-bezier transform, .5s $cubic-bezier opacity;
        opacity: 0;
        transform: translate(0, -15px);
        transition-delay: 0;

        .active & {
            transform: translate(0, 0);
            opacity: 1;
            transition-delay: .75s;
        }
    }

    &--btn {
        @extend .btn;
        margin-top: 1rem;
        transition: .5s $cubic-bezier transform, .5s $cubic-bezier opacity;
        opacity: 0;
        transform: translate(0, 10px);
        transition-delay: 0s;

        .active & {
            transform: translate(0, 0);
            opacity: 1;
            transition-delay: .75s;
        }
    }
    
    &__hightimes {
        background-image: url('/assets/images/project-ht.jpg');
        background-position: 50% 20%;
    }

    &__flor {
        background-image: url('/assets/images/project-flor.jpg');
        background-position: 50% 80%;
    }

    &__northern-fork {
        background-image: url('/assets/images/project-nf.jpg');
        background-position: 50% 60%;
    }

    &__onewake {
        background-image: url('/assets/images/project-ow.jpg');
        background-position: 50% 30%;
    }

    &__osx {
        background-image: url('/assets/images/project-osx.jpg');
        background-position: 50% 80%;
    }

    &__work {
        background-color: $base-border;
    }
}