.project {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
    text-align: center;
    //border: 1px solid $color-white;
    padding: 3.5em 1.5rem;

    @include respond-to($small) {
        float: left;
        margin: 1.5%;
        width: 48.5%;
        padding: 7.5em 1.5rem;

    }

    @include respond-to($large) {
        margin: 1% 0;
        width: 32%;
    }

    &:nth-child(2n){

        @include respond-to($small) {
            margin-right: 0;
        }
        @include respond-to($large) {
            margin-right: 0%;
        }
    }


    &:nth-child(2n+1){

        @include respond-to($small) {
            margin-left: 0;
            clear: both;
        }

        @include respond-to($large) {
            margin-left: 0;
            margin-right: 0;
            clear: none;
        }
    }

    &:nth-child(3n-1) {
        @include respond-to($large) {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    &::before {
        background-color: rgba($color-black, .8);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        transition: .2s background-color;
    }

    //&:hover {
    //
    //    &::before {
    //        @include respond-to($small) {
    //            background-color: rgba($color-black, .7);
    //        }
    //    }
    //}

    &--btn {
        @extend .btn;
        margin-top: 1rem;
    }
    
    &__hightimes {
        background-image: url('/assets/images/project-ht.jpg');
        background-position: 50% 20%;
    }

    &__flor {
        background-image: url('/assets/images/project-flor.jpg');
        background-position: 50% 80%;
    }

    &__northern-fork {
        background-image: url('/assets/images/project-nf.jpg');
        background-position: 50% 60%;
    }

    &__onewake {
        background-image: url('/assets/images/project-ow.jpg');
        background-position: 50% 30%;
    }

    &__osx {
        background-image: url('/assets/images/project-osx.jpg');
        background-position: 50% 80%;
    }

    &__work {
        background-color: $base-border;
    }
}