.projects {
    @include respond-to($small) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.project {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 3.5em 1.5rem;
    width: 100%;
    border: 1px solid $base-border;

    @include respond-to($small) {
        width: 49.5%;
        margin-bottom: 1%;
        padding: 7.5em 1.5rem;
    }

    &:nth-child(2n) {
        @include respond-to($small) {
            margin-right: 0;
            margin-left: .5%;
        }
    }


    &:nth-child(2n+1) {
        @include respond-to($small) {
            margin-left: 0;
            margin-right: .5%;
        }
    }

    &:last-child {
        @include respond-to($small) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &::before {
        background-color: rgba($base-bg-color, .8);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &--btn {
        @extend .btn;
        margin-top: 1rem;
    }
    
    &__climatefacts {
        background: linear-gradient(135deg,#FD9CD3 0,#6A0A0A 100%);

        &::before {
            //opacity: .5;
        }
    }


    &__hightimes {
        background-image: url('/assets/images/project-ht.jpg');
        background-position: 50% 20%;
    }

    &__flor {
        background-image: url('/assets/images/project-flor.jpg');
        background-position: 50% 80%;
    }

    &__northern-fork {
        background-image: url('/assets/images/project-nf.jpg');
        background-position: 50% 60%;
    }

    &__osx {
        background-image: url('/assets/images/project-osx.jpg');
        background-position: 50% 80%;
    }

    &__work {
        border: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;

        &::before {
            background: none;
        }
    }
}