html {
    background-color: $color-white;
    box-sizing: border-box;
}

html,
body {
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $color-black;
    font-family: $base-body-font;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
    opacity: 1;
    -webkit-font-smoothing: antialiased;


    //To prevent the iPhone and iPad from inflating fonts
    @include respond-to($large, max) {
        -webkit-text-size-adjust: 100%;
    }
}

.column {

    @include respond-to($medium) {
        @include span(6);
    }

    &:last-child {
        @include respond-to($medium) {
            @include omega();
        }
    }
}

.wrapper {
    position: relative;
}

.resume-header {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.resume-footer {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.resume-body {
    padding-top: 0;
}

h1 {
    font-weight: normal;
    //margin-top: 2rem;
    margin-bottom: 0;
}