html {
    background-color: $color-light-gray;
    box-sizing: border-box;
}

html,
body {
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $color-black;
    font-family: $base-body-font;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
    opacity: 1;
    -webkit-font-smoothing: antialiased;

    //To prevent the iPhone and iPad from inflating fonts
    @include respond-to($large, max) {
        -webkit-text-size-adjust: 100%;
    }
}


.wrapper {
    position: relative;
}

.resume-header {
    padding-top: 3rem;
}

.resume-footer {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.resume-body {
    padding-top: 0;



    p {
        font-size: 1rem;
    }

    .skills {
        list-style: bullets;
        font-size: inherit;

        li {
            margin-bottom: 0;
        }
    }
}

.job-title {
    display: block;
    margin-top: 1.5rem;
    font-weight: $font-weight-bold;

    .tight & {
        margin-top: 0;
    }
    //border-bottom: 1px dotted $base-border;
}

.date {
    float: right;
}