@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

%fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

%fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(0, 10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

%fadeInUp {
    animation-name: fadeInUp;
}


@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(0, 10px);
    }
}

%fadeOutDown {
    animation-name: fadeOutDown;
}



@keyframes slideInUp {
    from {
        transform: translate3d(0, 200%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

%slideInUp {
    animation-name: slideInUp;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dot {
    0% {
        transform: scale(.75);
        opacity: .25;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.75);
        opacity: .25;
    }
}

@keyframes arrow {
    0% {
        transform: scale(.75) rotate(45deg);
        opacity: .25;
    }
    25% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(.75) rotate(45deg);
        opacity: .25;
    }
}