.btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 22px;
    font-size: .75rem;
    font-weight: $font-weight-regular;
    letter-spacing: 3px;
    line-height: 1.65rem;
    margin: 0;
    outline: none;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s $cubic-bezier;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    background-color: $color-green;
    color: $color-white;
    border: 1px solid $color-green;

    &:hover {
        background-color: lighten($color-green, 5%);
        color: $color-white;
        text-decoration: none;
    }

    &:active {
        background-color: darken($color-green, 0);
    }

    &:disabled {
        &:hover {
            background-color: $color-green;
            color: $color-white;
        }
    }

    @include respond-to($medium) {
        padding: .5rem 2.5rem;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 1000%;
        background-color: $base-bg-color;
        opacity: 0;
        transition: .2s ease-in-out;
        z-index: -1;
        pointer-events: none;
    }

    + .btn {
        margin-left: 1em;
    }

    &--centered {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    &--full {
        display: block;
        width: 100%;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .25;
    }
}
