.btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 3rem;
    font-size: .75rem;
    font-weight: $font-weight-regular;
    letter-spacing: 3px;
    line-height: 1.5rem;
    height: 3rem;
    margin: 0;
    outline: none;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s $cubic-bezier;
    vertical-align: top;
    overflow: hidden;
    position: relative;

    background-color: $color-green;
    color: $color-light-gray;
    box-shadow: inset 0 0 0 1px $color-green;
	border: none;

    @include respond-to($medium) {
        padding: .75rem 2.5rem;
    }

    &:hover {
        background-color: $color-green-hover;
        color: $color-light-gray;
        text-decoration: none;
    }

    &:active {
        background-color: $color-green;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .25;

        &:hover {
            background-color: $color-green;
            color: $color-light-gray;
        }
    }

    &--elevated {
        box-shadow: 10px 10px 20px 0 rgba($color-black, .25);

        &:hover {
            box-shadow: 8px 8px 25px 0 rgba($color-black, .25);
            transform: scale(1.02);
        }

        &:active {
            box-shadow: 3px 3px 15px 0 rgba($color-black, .25);
            transform: scale(1);
        }
    }

    &--centered {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    &--full {
        display: block;
        width: 100%;
    }

    + .btn {
        margin-left: 1em;
    }
}
