$field-height: 44px;
$label-width: 5rem;

.contact-form {
    margin-top: 3rem;
}


::-webkit-input-placeholder {
    color: $input-placeholder-color;
}

::-moz-placeholder {
    color: $input-placeholder-color;
}

:-ms-input-placeholder {
    color: $input-placeholder-color;
}

label {
    bottom: 0;
    color: $color-white;
    display: block;
    font-size: .75rem;
    font-weight: $font-weight-bold;
    left: 0;
    letter-spacing: 1px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: .2s;
    width: 100%;
    z-index: 0;

}

.input {
    background-color: $color-black;
    border: 1px solid $base-border;
    border-radius: 0;
    color: $color-white;
    display: block;
    font-size: .875rem;
    height: $field-height;
    margin-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    transition: .2s;
    width: 100%;
    -webkit-appearance: none;

    &.text-area {
        min-height: 132px;
        padding-top: .75rem;
        resize: none;

        ~ label {

        }
    }

    &:focus {
        border-color: $color-white;
    }
}
