.mtn {
    display: block;
    fill: $color-white;
    height: 14px;
    margin: 0 auto 1.25rem;
    width: 30px;
}

.icon {

    .btn & {

        display: inline-block;
        vertical-align: baseline;
        width: 10px;
        height: 10px;
        margin-left: -10px;
        transform: translate(5px, 1px) scale(0);
        transform-origin: 10px 5px;
        fill: $color-black;
        z-index: -1;
        transition: .25s $cubic-bezier;
        opacity: 0;

    }

    .btn:hover & {
        opacity: 1;
        transform: translate(10px, 1px) scale(1);
    }
}

.scroll-indicator {
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    bottom: 1rem;
    width: 50px;
    z-index: 10;

    .loaded & {
        //opacity: 1;
        //transition-delay: 2s;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &::before {
        animation: dot 3s infinite ease-in-out;
        border: 1px solid $color-white;
        border-radius: 10px;
        height: 12px;
        width: 12px;
    }

    &::after {
        animation: arrow 3s infinite ease-in-out;
        animation-delay: .75s;
        border-bottom: 1px solid $color-white;
        border-right: 1px solid $color-white;
        height: 7px;
        opacity: .25;
        transform: rotate(45deg);
        width: 7px;
    }

    span {
        display: block;
        &::before,
        &::after {
            animation: dot 3s infinite ease-in-out;
            border: 1px solid $color-white;
            border-radius: 10px;
            content: '';
            display: block;
            margin: 5px auto;
        }
        &::before {
            animation-delay: .25s;
            height: 8px;
            width: 8px;
        }
        &::after {
            animation-delay: .5s;
            height: 6px;
            width: 6px;
        }
    }
}