/* latin-ext */
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';

// Typography

p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
    font-weight: inherit;
    line-height: 1.2;
    margin: 0 0 .5rem;
}

h1 {
    font-size: 2.441rem;
    line-height: normal;
    margin-top: 0;
}

h2 {
    border-bottom: 1px solid $color-gallery;
    font-size: 1em;
    font-weight: $font-weight-bold;
    letter-spacing: 3px;
    line-height: normal;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    line-height: normal;
    margin-bottom: 1.25rem;
}

h4 {
    font-size: 1.563em;
    font-weight: $font-weight-bold;
    line-height: normal;
    margin-bottom: 1.25rem;
}

ul {
    list-style: none;
}

em {
    font-style: italic;
    font-weight: normal;
}

strong {
    font-weight: $font-weight-bold;
}

small {
    font-size: 75%;
    opacity: .5;
}


.freelance {
    display: table;
    font-size: .65rem;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    line-height: 1.2;
    margin: 5rem auto;
    padding-left: .75rem;
    position: relative;
    text-align: right;
    text-transform: uppercase;

    @include respond-to($medium) {
        display: inline-block;
        margin: 0;
        position: absolute;
        right: 1.5rem;
        top: 0.125rem;
    }

    &::before,
    &::after {
        background-color: rgba(#00ff48, .5);
        border-radius: 5px;
        content: '';
        display: block;
        left: 0;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    &::before {
        box-shadow: 0 0 5px 0 #00ff48;
        height: 4px;
        margin-right: .5rem;
        width: 4px;
    }

    &::after {
        height: 2px;
        left: 1px;
        position: absolute;
        width: 2px;
    }
}