// Typography

p {
    margin-bottom: 1.5rem;

    @include respond-to($medium) {
        font-size: 1.125rem;
    }
}

a {
    color: inherit;
    text-decoration: underline;
    transition: .15s $cubic-bezier;
    position: relative;
    white-space: nowrap;

    @include respond-to($small) {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;

        @include respond-to($small) {
            color: $color-white;
        }
    }

    p & {
        word-wrap: break-word;
        white-space: normal;

        &::after {
            @include respond-to($small) {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                background-color: $base-text-color;
                right: -2px;
                left: -2px;
                bottom: 2px;
                transition: .2s;
                z-index: -1;
                pointer-events: none;
                border-radius: 3px;
            }

            .site-footer & {
                background-color: $color-white;
            }
        }

        &:hover {
            &::after {
                @include respond-to($small) {
                    height: 22px;
                }
            }

            .site-footer & {
                color: $color-black;
            }
        }
    }

    small & {
        &:hover::after {
            height: 14px;
        }
    }
}


h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.75rem;
    font-family: $base-serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;

	@include respond-to($small) {
		font-size: 2.5rem;
	}
}

h2 {
    font-size: 1.5rem;
    font-family: $base-sans-serif;
    font-weight: $font-weight-bold;
    margin-bottom: 1.5rem;

	@include respond-to($small) {
		font-size: 1.75rem;
	}
}


h3 {
    font-size: 1rem;
    font-family: $base-sans-serif;
    font-weight: $font-weight-bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    //letter-spacing: 1px;
}

h4, .h4 {
    font-size: .75rem;
    font-family: $base-sans-serif;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-gray;
}

ul {
    list-style: none;

    @include respond-to($medium) {
        font-size: 1.125rem;
    }

    main & {
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 0;
	    font-size: inherit;
    }
}

.grid--services {
    @extend %clearfix;

    li {
        float: left;
        width: 50%;
    }

	p {
		font-size: .875rem;
	}
}

em {
    font-weight: $font-weight-regular;
    font-style: italic;
}

strong {
    font-weight: $font-weight-bold;
	line-height: 1;
}

small {
    font-size: 75%;
    line-height: 1;
}