---
layout: default
home_header: false
title: Roadtrip to Banff
map: Canada
date: 2016-6-1
image_path: /assets/gallery/banff/DSF0788.jpg
---

<section class="frame frame--gallery">
    <!--<div class="container">-->
    <header class="gallery-header container">
        <h1>{{ page.title }}</h1>
        <p>In June of 2016 I took a roadtrip from San Francisco, CA to Alberta, Canada. Along the way <a
                href="http://nicolehammonds.com">Nicole</a> and I made stops at Crater Lake National Park, Sandpoint, Idaho, Canmore, AB, Vancouver, B.C. Seattle, WA, Mount Rainier National Park, and Portland, OR.</p>

        <ul class="gallery-stats">
            <li>
                <span class="number">29</span>
                <span class="title">countries visited</span>
            </li>
            <li>
                <span class="number">13,403</span>
                <span class="title">photos taken</span>
            </li>
            <li>
                <span class="number">74</span>
                <span class="title">flights taken</span>
            </li>
            <li>
                <span class="number">71</span>
                <span class="title">beds slept in</span>
            </li>
        </ul>
    </header>
    <div class="gallery-wrapper">
        <div class="gallery">
            {% for image in site.static_files %}
            {% if image.path contains '/assets/gallery/banff/' %}
            {% include single-img.html %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--</div>-->
</section>